html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px; /* Vertically center the text there */
  background-color: #ea104e;
  color: #fff;
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-brand img {
  width: 500px;
}

h1.logo a {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #ea104e;
}

blockquote {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 3px solid #e1e1e1;
  font-size: 1em;
  padding-left: 10px;
}

header {
  background: #fff;
  padding: 20px 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.5s;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

h1,
h2,
h3,
h4,
h5 {
  color: #ea104e;
}

.hyspec {
  color: #ea104e;
  font-weight: 600;
}

/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
#topbar {
  background: #ea104e;
  height: 50px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

/* #topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
} */

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation
  */

.navbar {
  background: #fff;
  padding: 20px 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.5s;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
  margin: 40px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 18px;
  font-weight: 600;
  color: #ea104e;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #ea104e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #b17486;
}

/*
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #106eea;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
} */

.intro {
  padding-top: 50px;
  padding-bottom: 50px;
}

.patches {
  padding-top: 20px;
  padding-bottom: 20px;
}

.patches img {
  width: 130px;
  margin-bottom: 2px;
}

.logos {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq .accordion-button strong {
  color: #ea104e;
  padding-left: 4px;
  padding-right: 4px;
}

.license {
  padding-top: 10px;
  padding-bottom: 30px;
}

pre {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  overflow-x: auto;
}

blockquote {
  background-color: #f8f9fa;
  border-left: 5px solid #ea104e;
  padding: 10px 20px;
  margin-top: 10px;
}

.card.downloads {
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-top: 10px;
  width: 50%;
}

.lead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  margin-left: 0px;
}

.card i {
  font-size: 30px;
  color: #ea104e;
}

@media (max-width: 720px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }

  .patches {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .patches img {
    width: 40px;
    margin-bottom: 2px;
  }

  .card {
    width: 90%;
  }

  .card i {
    font-size: 14px;
  }
}
